name: NodeJS with Webpack

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: |
        # Install everything in package.json
        npm install --legacy-peer-deps
        # Make sure webpack-cli is installed for CI
        npm install --save-dev webpack-cli --yes

    - name: Build
      run: |
        # Use local webpack-cli to build
        npx webpack --mode production
